.item-block{
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    border: solid 2px black;
    border-radius: 16px;
    align-items: flex-start;
    padding: 0.2em;
    height: fit-content;
    align-items: stretch;
}
.item-title-row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row-left{
    display: flex;
    align-items: center;
    left: 0%;
}
.row-right{
    display: flex;
    align-items: center;
    right: 0%
}
.item-title{
    width: 18em;
    overflow-y: hidden;
    max-height: 1.2em;
    font-size: 0.5em;
    color: aquamarine;
    margin: 0em 0.5em 0em 0.5em;
    background: none;
    resize: none;
    border: none;
}
.item-flexContainer{
    display: flex;
}
.item-box{
    display: flex;
    align-items: center;
    margin: 0em 0.2em 0em 0.2em;
}
.item-label{
    margin-right: 0.2em;
    font-size: 0.4em;
    color: rgb(178, 97, 86);
}
.item-text{
    margin: 0.2em;
    font-size: 0.4em;
    color: azure;
}
.item-list{
    display: flex;
}

.effectbox{
    position: relative;
    height: auto;
    margin: 0.05em;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(47, 39, 34);
    border-radius: 6px;
}
.effectbox-title{
    padding: 0.1em;
    font-size: 0.4em;
    margin: 0%;
}
.effectbox-popcontainer{
    max-width: 20em;
    width: 14em;
    display: block;
    visibility: hidden;
    position: absolute;
    margin: 0%;
    padding: 0%;
    border-radius: 14px;
    border: solid 2px grey;
    z-index: 1;
    background-color: rgb(31, 31, 31);
    font-size: 0.4em;
}
.effectbox:hover .effectbox-popcontainer{
    visibility: visible;
}
.item-additional-info{
    display: flex;
    flex-direction: column;
}
.expand-icon{
    height: 0.5em;
    width: 0.5em;
    cursor: pointer;
    margin-right: 0.2em;
}
.open-icon{
    transform: rotate(-90deg);
    transition: 0.2s;
}
.closed-icon{
    transform: rotate(0deg);
    transition: 0.2s;
}
.item-open{
    display: none;
}
.item-closed{
    display: flex;
    flex-direction: column;
}
.clickable {
    cursor: pointer;
}
