
#topmenu{
    display: flex;
    justify-content: center;
}
#menu-button{
    font-size: 1em;
    background-color: rgb(59, 78, 110);
    border: solid 2px black;
    border-radius: 1em;
    padding: 0.1em;
    margin: 0.2em;
    text-decoration: none;
    text-align: center;
    align-self: center;
    color: aliceblue;
    width: fit-content;
}
.active{
    border-radius: 50%;
    text-shadow: 0 0 2px #efefef, 0 0 4px #efefef, 0 0 6px #56949f, 0 0 8px #56949f, 0 0 10px #56949f, 0 0 12px #56949f, 0 0 14px #56949f;

}
ul{
    list-style: none;  
    padding: 0%; 
}
.dropdown-button{
    max-width: fit-content;
}
.dropdown-menu{ 
    max-width: fit-content;
    position: absolute;
    margin: 0%;
    margin-top: 0.15em;
    margin-left: 0.46em;
    padding: 0.2em;
    z-index: 1;
    background-color: #262e3d;
    padding: 0.3em;
    max-width: fit-content;
    border: solid 2px black;
    border-radius: 0px 14px 14px 14px;
}

.dropdown-menu.open{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease-in;
}
.dropdown-menu.closed{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease-out;
}
#dropdown-item{
    margin: 0%;
    text-decoration: none;
    color: aliceblue;
}
#dropdown-item:hover{
    /* background-color: rgba(148, 173, 218, 0.2); */
    border-radius: 25%;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #87cedb, 0 0 20px #87cedb, 0 0 25px #87cedb, 0 0 30px #87cedb, 0 0 35px #87cedb;

}