.App {
  text-align: center;
}

.App-header {
  background-color: #2c3037;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-grid{
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
}
#top-grid{
  top: 0%;
}
#mid-grid{
  overflow-y: scroll;
}
#bot-grid{
  bottom: 0%;
}

.item-block{
  margin: 1em;
}
.text-block{
  font-size: medium;
  width: 80vh;
}
.title-block{
  margin: 0.5em;
}
.main-title{
  font-size: 1.2em;
  margin: 0.2em;
}
.sub-title{
  font-size: 1em;
  margin: 0.1em;
}
.race-portrait{
  margin: 1em;
  height: 14em;
  width: auto;
}
.race-grid{
  display: flex;
}

