.App {
  text-align: center;
}

.main-grid{
  background-color: #2c3037;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  justify-items: stretch;
  grid-template-rows: 6vh 94vh;
  justify-content: center;
}
#top-grid{
  top: 0%;
  width: 100%;
  position: fixed;
  padding: 0.3em;
  background-color: #262e3d;
  z-index: 2;
}
#mid-grid{
  height: 94vh;
  margin-top: 6vh;
  overflow-y: scroll;
}
#mid-grid::-webkit-scrollbar{
  width: 0.3em;
}
#mid-grid::-webkit-scrollbar-thumb {
  background-color: rgb(73, 74, 80);   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px;  /* creates padding around scroll thumb */
}
#mid-grid::-webkit-scrollbar-track{
  background: none; 
}


.item-block{
  margin: 1em;
}
.text-block{
  font-size: medium;
  width: 100vh;
}
.title-block{
  margin: 0.5em;
}
.main-title{
  font-size: 1.2em;
  margin: 0.2em;
}
.sub-title{
  font-size: 1em;
  margin: 0.1em;
}
.race-portrait{
  margin: 1em;
  height: 14em;
  width: auto;
}
.race-grid{
  display: flex;
}
.even-is-true{
  flex-direction: row-reverse;
}
.even-is-false{
  flex-direction: row;
  
}

